html, body, section, article,
h1, h2, p, strong, em, a, ul, li {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-size: 18px;
  font-family: sans-serif;
}
.game-stats{
  /*display: block;
  float: left;
  border: 2px solid black;
  width: 400px;
  height: 250px;*/
}
.game {
}
.canvas {
  border: 5px solid lightgray;
  background-color: transperant;
  width: 1500px;
  height: 700px;
}
