@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

html, body, section, article,
h1, h2, p, strong, em, a, ul, li {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: black;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-size: 1000px;
  font-family: 'Gloria Hallelujah', cursive, sans-serif;
}
.game-stats{
  position: absolute;
  top: 20px;
  left: 20px;
  color: yellow;
  font-family: 'Gloria Hallelujah', cursive, sans-serif;
}

.game {
}
.canvas {
  background-image: url("../image/woodbackground.jpg");
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}
