@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

html, body, section, article,
h1, h2, p, strong, em, a, ul, li, button{
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {

  font-family: 'Gloria Hallelujah', cursive, sans-serif;
}
.game-stats{
  position: absolute;
  top: 20px;
  left: 20px;
  color: yellow;
  font-family: 'Gloria Hallelujah', cursive, sans-serif;
}

.game {
}
.canvas {
  background-image: url("../image/woodbackground.jpg");
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}

.menu {
  background-image: url("../image/Chalkboard.png");
  background-repeat: no-repeat;
  font-family: 'Gloria Hallelujah', cursive;
  width: 639px;
  height: 397px;
  position: absolute;
  left: calc(50% - 400px);
  top: calc(50% - 250px);
  padding: 25px 30px 25px 32px;
}
.hidden {
  display: none;
}
.text-container {
  margin: 10px;
  font-size: 16px;
  color: #FFF;
}
.text-container p {
  text-align: center;
  font-size: 26px;
}
.button-container {
  text-align: center;
  font: inherit;
}
.button-container {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 16px;
  color: #FFF;
  margin: auto;

}
button {
  display: inline-block;
  height: 35px;
  width: 125px;
  border-radius: 10px;
  border: 1px solid #FFF;
  background-color: transparent;
}
.button-container button:hover {
  color: #FFEB3B;
}
