<?xml version="1.0" encoding="UTF-8"?>	<widget xmlns = "http://www.w3.org/ns/widgets"		xmlns:gap = "http://phonegap.com/ns/1.0"		id        = "game.scribbleships"		versionCode="0.0"		version   = "0.1">		<name>Scribbleships</name>		<description>		</description>		<author href="" email="">		</author>		<preference name="phonegap-version" value="cli-5.2.0" />		<preference name="orientation" value="landscape" />		<gap:platform name="android" />		<platform name="android">		    <icon src="PointyPew.png" width="180" height="180" />		</platform>	</widget>